@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: garamond;
    src: url(fonts/GaramondPremrPro.otf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.viewport-height-page {
    width: 100%;
    height: 100vh;
    min-height: 400px;
}

.vertical-middle {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.landing-page {
    background: url(splash_back.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
}

.landing-title {
    font-size: 14em;
    font-weight: bold;
}

.landing-subtitle {
    font-family: avenir;
    font-size: 2.5em;
    font-weight: bold;
}

.landing-next-button {
    background: white;
    border-radius: 50%;
    display: inline-block;
    font-size: 2em;
    color: #F39B3A;
}


.story-page {
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.story-page {
    padding: 6%;
}

.story-title {
    font-family: avenir;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
}

.story-item-title {
    font-family: avenir;
    font-size: 1.6em;
}

.story-item-subtitle {
    font-family: garamond;
    font-size: 1.4em;
    color: grey;
}

.story-item-content {
    font-family: garamond;
    font-size: 1em;
    color: gray;
}

.story-item {
    display: table;
}

.story-photo {
    text-align: center;
}

.story-photo img {
    width: 80%;
}

.sangeet-page {
    background: url(sangeet_back.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.sangeet-content {
    width: 75%;
    padding: 5% 15% 5% 0;
    float: right;
    text-align: right;
}

.sangeet-title {
    font-family: avenir;
    font-weight: bold;
    padding: 10px 0;
    font-size: 3.5em;
}

.sangeet-subtitle {
    font-family: garamond;
    padding: 5px 0;
    font-size: 2.3em;
}

.sangeet-body {
    font-family: garamond;
    font-size: 1.5em;
    float: right;
    width: 60%;
}

.wedding-page {
    background: url(wedding_back.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.wedding-content {
    width: 75%;
    padding: 5% 0 5% 15%;
    float: left;
    text-align: left;
}

.wedding-title {
    font-family: avenir;
    font-weight: bold;
    padding: 10px 0;
    font-size: 3.5em;
}

.wedding-subtitle {
    font-family: garamond;
    padding: 5px 0;
    font-size: 2.3em;
}

.wedding-body {
    font-family: garamond;
    font-size: 1.5em;
    width: 60%;
}

.team-page {
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.team-title {
    font-family: avenir;
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
}

.team-content .team-member {
    padding: 4% 0;
    text-align: center;
}

.photo-title {
    font-family: avenir;
    font-size: 2em;
}

.photo-subtitle {
    font-family: garamond;
    font-size: 1.5em;
    color: grey;
}

.photo-body {
    font-family: garamond;
    font-size: 1.1em;
    color: gray;
}

.rsvp-page {
    background: url(rsvp_back.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
}

.rsvp-title {
    font-family: avenir;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 80px 0;
}

.rsvp-form {
    text-align: center;
}

.rsvp-form-row {
    color: black;
    padding: 10px 0;
    font-size: 1.5em;
}

.styled-select {
    font-family: garamond;
    background-color: #ffffff;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
}

.rsvp-form-row input {
    border: none;
    width: 100%;
    border-radius: 1000px;
}

.rsvp-form-row .rsvp-select {
    font-family: garamond;
    -webkit-appearance: none;
    padding-left: 15px;
    border-radius: 1000px;
    font-size: 1em;
    border: none;
    width: 100%;
    background: url(arrow.png) no-repeat 95% 0;
}

.rsvp-form-row button {
    background-color: #ffffff;
    border-radius: 1000px;
    padding: 0 40px;
    margin: 60px 0;
    border: none;
}

.rsvp-form-row optgroup{
    font-size: 1em;
}

.rsvp-form-row option.rsvp-option{
    font-size: 1.5em;
}

.contact-page {
    background: url(contact_back.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.contact-title {
    font-family: avenir;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.contact-content {
    margin: 2%;
}

.contact-img{
    text-align: center;
}

.contact-info {
    font-family: garamond;
    font-size: 1.5em;
}

.message-content {
    margin: 2%;
    text-align:center;
}

.message-title {
    font-family: avenir;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.message-form-row {
    padding: 10px 5px;
    width: 80%;
    margin: auto;
}

.message-form-row input {
    border: none;
    border-radius: 1000px;
    width: 100%
}

.message-form-row textarea {
    border: none;
    border-radius: 20px;
    height: 20%
    overflow: hidden;
    width: 100%
}

@media only screen
and (max-width : 640px) {
    .sangeet-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .sangeet-body {
        width: 100%;
    }

    .wedding-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .wedding-body {
        width: 100%;
    }
}