@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: garamond;
    src: url(fonts/GaramondPremrPro.otf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.animate-opacity {

}

.viewport-height-page {
    width: 100%;
    min-height: 400px;
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

/* common font sizes */
.story-title, .sangeet-title, .wedding-title, .team-title, .contact-title {
    font-size: 3.5em;
    font-weight: bold;
    font-family: avenir;
}

.landing-subtitle, .story-item-title, .sangeet-subtitle, .wedding-subtitle, .photo-title, .story-item-subtitle{
    font-size: 2em;
}

.sangeet-body, .wedding-body, .photo-subtitle, .contact-info {
    font-size: 1.6em;
}

.story-item-content {
    font-size: 1.4em;
}

.landing-page {
    background: url(backgrounds/landing_back1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #ffffd7;
    min-height: 520px;
}

.landing-flowers {
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: url(backgrounds/landing_back2.png);
    background-size: cover;
    z-index: 1;
    background-position: center;
}

.landing-flowers, .landing-title, .landing-subtitle, .landing-next-button-container {
    display: none;
}

.landing-title img {
    max-width: 100%;
}

.landing-content {
    width: 100%;
}

.landing-subtitle {
    font-family: avenir;
    font-weight: bold;
    padding: 35px 0;
}

.landing-next-button img{
    margin: 10px 10px 10px 10px;
    max-width: 60px;
}


.story-page {
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.story-page {
    padding: 6%;
    padding-bottom: 0;
}

.story-page .row{
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.story-title {
    font-family: avenir;
    text-align: center;
    color: #465a6e;
}

.story-item-title {
    font-family: avenir;
    color: #465a6e;
    font-weight: bold;
}

.story-item-subtitle {
    font-family: garamond;
    color: #738291;
}

.story-item-content {
    font-family: garamond;
    color: #738291;
    max-width: 90%;
}

.story-item {
    display: table;
}

.story-item-left .story-item-content{
    float: right;
}

.story-item-left {
    text-align: right;
}

.story-photo {
    text-align: center;
}

.sangeet-page {
    background: url(backgrounds/sangeet_back.jpg);
    background-color: #465a6e;
    background-size: cover;
    background-position: center bottom;
    color: #ffffd7;
}

.sangeet-content {
    width: 100%;
    padding: 5% 15% 5% 0;
    float: right;
    text-align: right;
}

.sangeet-title {
    font-family: avenir;
    font-weight: bold;
    padding: 10px 0;
}

.sangeet-map-link img{
    max-height: 1em;
    vertical-align: top;
}

.sangeet-subtitle {
    font-family: garamond;
    padding: 5px 0;
}

.sangeet-body {
    font-family: garamond;
    float: right;
    max-width: 35%;
}

.wedding-page {
    background: url(backgrounds/wedding_back.jpg);
    background-color: #f59b14;
    background-size: cover;
    background-position: center top;
    color: #ffffd7;
}

.wedding-content {
    width: 100%;
    padding: 5% 0 5% 15%;
    float: left;
    text-align: left;
}

.wedding-title {
    font-family: avenir;
    padding: 10px 0;
}

.wedding-subtitle {
    font-family: garamond;
    padding: 5px 0;
}

.wedding-map-link img{
    max-height: 1em;
    vertical-align: top;
}

.wedding-body {
    font-family: garamond;
    max-width: 35%;
}

.wedding-body div {
    padding-top: 5px;
}

.team-page {
    width: 100%;
    background-color: white;
    padding: 6%;
}

.team-title {
    font-family: avenir;
    text-align: center;
    color: #465a6e;
}

.team-content .team-member {
    padding: 4% 0;
    text-align: center;
}

.photo img {
    width: 175px;
    max-width: 175px;
}

.photo-title {
    font-family: avenir;
    font-weight: bold;
    color: #465a6e;
}

.photo-subtitle {
    font-family: garamond;
    color: #738291;
}

.photo-body {
    font-family: garamond;
    color: #738291;
}

.contact-page {
    background: url(backgrounds/contact_back.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffd7;
}

.contact-page a {
    color: #ffffd7;
}

.contact-content {
    padding: 5%;
    width: 100%;
}

.contact-title {
    font-family: avenir;
    text-align: center;
    padding: 10px 0;
}

.contact-item.row {
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-img{
    text-align: center;
}

.contact-img img{
    max-width: 50%;
    vertical-align: middle;
}

.contact-info {
    font-family: avenir;
}

.flex-display {
    display: -webkit-box;
    display: -webkit-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media only screen
and (max-width : 640px) {

    /* common font sizes */
    .story-title, .sangeet-title, .wedding-title, .team-title, .contact-title {
        font-size: 2.3em;
        font-weight: bold;
        font-family: avenir;
    }

    .landing-subtitle, .story-item-title, .sangeet-subtitle, .wedding-subtitle, .photo-title{
        font-size: 1.6em;
    }

    .story-item-subtitle, .sangeet-body, .wedding-body, .photo-subtitle, .contact-info {
        font-size: 1.2em;
    }

    .story-item-content, .sangeet-body, .wedding-body {
        font-size: 1em;
    }

    .landing-title img {
        padding-left: 20%;
        padding-right: 20%;
    }

    .landing-subtitle {
        padding: 0 10%;
    }

    .landing-next-button img{
        max-width: 40px;
    }

    .story-content .col-xs-6.story-photo {
        padding-left: 0;
        padding-right: 0;
    }

    .story-photo img {
        height: auto;
        width: 100%;
    }

    .sangeet-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .sangeet-body {
        padding: 0 4%;
        max-width: 100%;
        width: 100%;
    }

    .wedding-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .wedding-body {
        padding: 0 6%;
        max-width: 100%;
        width: 100%;
    }

    .contact-page .contact-icon {
        padding-right: 5px;
        padding-left: 5px;
    }

    .contact-page a img {
        width: 100%;
    }
}


@media only screen
and (orientation: portrait) {
    .landing-page {
        background: url(mobile_back/landing_back1.jpg);
        background-size: 100% 100%;
        background-position: center;
    }

    .landing-flowers {
        background: url(mobile_back/landing_back2.png);
        background-size: 100% 100%;
        background-position: center;
    }


    .sangeet-page {
        background: url(mobile_back/sangeet_back.jpg);
        background-size: 100% 100%;
        background-position: center;
    }

    .wedding-page {
        background: url(mobile_back/wedding_back.jpg);
        background-size: 100% 100%;
        background-position: center;
    }

    .contact-page {
        background: url(mobile_back/contact_back.jpg);
        background-size: 100% 100%;
        background-position: center;
    }
}

