@font-face {
    font-family: avenir;
    src: url(fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: garamond;
    src: url(fonts/GaramondPremrPro.otf);
}

body {
    margin: 0;
    overflow-x: hidden;
}

.viewport-height-page {
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
}

.landing-page {
    background:
        url(backgrounds/landing_back2.png),
        url(backgrounds/landing_back1.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    min-height: 520px;
}

.landing-flowers {
    width: 100%;
    height: 100%;
    background-color: transparent;
    url(backgrounds/landing_back2.png);
    background-size: cover;
    z-index: 1;
    background-position: center;
}

.landing-title img {
    max-width: 100%;
}

.landing-content {
    width: 100%;
}

.landing-subtitle {
    font-family: avenir;
    font-size: 2.5em;
    font-weight: bold;
}

.landing-next-button img{
    margin: 10px 10px 10px 10px;
    max-width: 60px;
}


.story-page {
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.story-page {
    padding: 6%;
    padding-bottom: 0;
}

.story-page .row{
    display: flex;
    align-items: center;
}

.story-title {
    font-family: avenir;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    color: #465a6e;
}

.story-item-title {
    font-family: avenir;
    font-size: 1.6em;
    color: #465a6e;
    font-weight: bold;
}

.story-item-subtitle {
    font-family: garamond;
    font-size: 1.4em;
    color: #738291;
}

.story-item-content {
    font-family: garamond;
    font-size: 1em;
    color: #738291;
}

.story-item {
    display: table;
}

.story-item-left {
    text-align: right;
}

.story-photo {
    text-align: center;
}

.story-photo img {
    max-width: 200px;
}

.sangeet-page {
    background: url(backgrounds/sangeet_back.jpg);
    background-color: #465a6e;
    background-size: cover;
    background-position: center bottom;
    color: white;
}

.sangeet-content {
    width: 100%;
    padding: 5% 15% 5% 0;
    float: right;
    text-align: right;
}

.sangeet-title {
    font-family: avenir;
    font-weight: bold;
    padding: 10px 0;
    font-size: 3.5em;
}

.sangeet-map-link img{
    max-height: 1em;
    vertical-align: top;
}

.sangeet-subtitle {
    font-family: garamond;
    padding: 5px 0;
    font-size: 2.3em;
}

.sangeet-body {
    font-family: garamond;
    font-size: 1.5em;
    float: right;
    width: 60%;
}

.wedding-page {
    background: url(backgrounds/wedding_back.jpg);
    background-color: #f59b14;
    background-size: cover;
    background-position: center top;
    color: white;
}

.wedding-content {
    width: 100%;
    padding: 5% 0 5% 15%;
    float: left;
    text-align: left;
}

.wedding-title {
    font-family: avenir;
    font-weight: bold;
    padding: 10px 0;
    font-size: 3.5em;
}

.wedding-subtitle {
    font-family: garamond;
    padding: 5px 0;
    font-size: 2.3em;
}

.wedding-map-link img{
    max-height: 1em;
    vertical-align: top;
}

.wedding-body {
    font-family: garamond;
    font-size: 1.5em;
    width: 60%;
}

.team-page {
    width: 100%;
    background-color: white;
    padding: 20px 0;
}

.team-title {
    font-family: avenir;
    font-weight: bold;
    text-align: center;
    font-size: 3.5em;
    color: #465a6e;
}

.team-content .team-member {
    padding: 4% 0;
    text-align: center;
}

.photo img {
    width: 175px;
    max-width: 175px;
}

.photo-title {
    font-family: avenir;
    font-size: 2em;
    color: #465a6e;
}

.photo-subtitle {
    font-family: garamond;
    font-size: 1.5em;
    color: #738291;
}

.photo-body {
    font-family: garamond;
    font-size: 1.1em;
    color: #738291;
}

.rsvp-page {
    background: url(backgrounds/rsvp_back.png);
    background-color: #465a6e;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px 0;
    min-height: 520px;
}

.rsvp-content {
    width: 100%;
}

.rsvp-title {
    font-family: avenir;
    text-align: center;
    font-size: 3.5em;
    font-weight: bold;
    margin: 0 0 80px 0;
}

.rsvp-form {
    text-align: center;
}

.rsvp-form-row {
    color: black;
    padding: 10px 0;
    font-size: 1.5em;
}

.styled-select {
    font-family: garamond;
    background-color: #ffffd7;
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
}

.contact-page {
    background: url(backgrounds/contact_back.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height: 700px;
}

.contact-container {
    width: 100%;
}

.contact-title {
    font-family: avenir;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.contact-content {
    margin: 2%;
}

.contact-item.row {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-img{
    text-align: center;
}

.contact-img img{
    max-width: 50%;
    vertical-align: middle;
}

.contact-info {
    font-family: garamond;
    font-size: 1.5em;
}


@media only screen
and (max-width : 640px) {

    .landing-title img {
        padding-left: 20%;
        padding-right: 20%;
    }

    .landing-subtitle {
        padding-left: 10%;
        padding-right: 10%;
        font-size: 1.7em;
    }

    .landing-next-button img{
        max-width: 40px;
    }

    .story-item-title {
        font-size: 1.2em;
    }
    .story-item-subtitle {
        font-size: 1em;
    }
    .story-content .col-xs-6.story-photo {
        padding-left: 0;
        padding-right: 0;
    }

    .story-photo img {
        height: auto;
        width: 100%;
    }

    .sangeet-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .sangeet-title {
        font-size: 2.3em;
    }

    .sangeet-subtitle {
        font-size: 1.7em;
    }

    .sangeet-body {
        font-size: 1.1em;
        width: 100%;
    }

    .wedding-content {
        width: 100%;
        float: none;
        text-align: center;
        padding: 5%;
    }

    .wedding-title {
        font-size: 2.3em;
    }

    .wedding-subtitle {
        font-size: 1.7em;
    }

    .wedding-body {
        font-size: 1.1em;
        width: 100%;
    }

    .rsvp-form-row img {
        width: 50%;
    }

    .contact-page .vertical-middle {
        padding: 10px 4px;
        top: 0;
        transform: initial;
        -webkit-transform: initial;
    }
}


@media only screen
and (orientation: portrait) {
    .landing-page {
        background: url(mobile_back/landing_back2.png),
        url(mobile_back/landing_back1.jpg);
        background-size: 100% 100%;
    }


    .sangeet-page {
        background: url(mobile_back/sangeet_back.jpg);
        background-size: 100% 100%;
    }

    .wedding-page {
        background: url(mobile_back/wedding_back.jpg);
        background-size: 100% 100%;
    }

    .contact-page {
        background: url(mobile_back/contact_back.jpg);
        background-size: 100% 100%;
    }
}

